:root {
  --background-primary: #444b;
  --blue-light: #3498db;
  --text-primary: #78e08f;
  --char-one: #fff;
  --char-two: #be2edd;
}

* {
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
}

body {
  background-color: var(--background-primary);
}

.container {
  height: 100vh;
  max-width: 100%;
  margin: 0 auto;

  background-image: url('./images/background/all.jpg');
  background-size: cover;
}

#jogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 582px;
  width: 482px;
  padding: 20px 50px 70px;
  border-radius: 25px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--background-primary);
}

@media only screen and (max-width: 479px) {
  #jogo {
    height: 540px;
    width: 420px;
  }
}

@media only screen and (max-width: 419px) {
  #jogo {
    width: 352px;
  }
}

@media only screen and (max-height: 559px) {
  #jogo {
    height: 450px;
  }
}

.casa {
  background-size: cover;
  height: 120px;
  width: 120px;
  border: 3px solid black;
  border-radius: 25px;
  margin: 3px;
  float: left;

  background-color: #bbb4;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 479px) {
  .casa {
    height: 100px;
    width: 100px;
    line-height: 100px;
    font-size: 50px;
  }
}

@media only screen and (max-width: 419px) {
  .casa {
    height: 70px;
    width: 70px;
    line-height: 70px;
    list-style: none;
  }
}


#player.Mael {
  color: var(--char-one);
}

#player.Gowther {
  color: var(--char-two);
}

.info {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  color: var(--text-primary);
}

#status {
  margin: 10px;
}

.btn-container {
  text-align: center;
}

.btn {
  display: none;
  position: relative;

  height: 60px;
  width: 200px;

  padding: 5px;
  margin-top: 10px;
  border: 4px solid;

  font-weight: bold;
  text-transform: uppercase;

  cursor: pointer;
  color: var(--blue-light);
  background: none;
}

.btn::before, .btn::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 14px;
  transform: skewX(50deg);
  transition: .4s linear;
  background-color: var(--background-primary);
}

.btn::before {
  top: -4px;
  left: 10%;
}

.btn::after {
  bottom: -4px;
  right: 10%;
}

.btn:hover::before {
  left: 80%;
}

.btn:hover::after {
  right: 80%;
}
